body {
    max-width: 960px;
    min-width: 960px;
    width: 960px;
    padding: 12px 20px 12px 20px;
    color: #000;
    background: #fff;
}

/* Typeface and Text Size */
body {
  font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
    line-height: 1.5em;
}
p {
font-family: 'Nunito', sans-serif;
font-size: 0.8em;
    margin: 0px 0px 0px 0px;
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 15px 0;
}
h6 { /* h6 is special... */
    font-size: 1.5em;
    font-weight: normal;
    font-variant: small-caps;
    letter-spacing: 1px;
    color: #777;
    line-height: 0.60em;
    margin: 0px 0px 15px 0px;
}
h2, h3, h4, h5 { font-size: 1em; font-weight: bold; }
h2 { margin: 10px 0px 8px 0px }
h3, h4, h5 { margin: 0px; }
br.space { line-height: 0.25em; }

/* Hyperlinks */
a, a:visited, a:hover { color: #000; text-decoration: none; }
a.nav, a.nav:visited { color: #888; font-weight: normal; }
a:hover, a.nav:hover { color: #53f; }

/* Tables */
table, tr, td { margin: 0; padding: 0; }
td { padding: 0px 10px 0px 0px; }
tr.visited td { color: #888; }
tr.visited a { color: #888; }

/* Lists */
ul { margin: 0; padding: 0px 0px 8px 10px; }
li { margin-bottom: 0px; }

/* Page Layout */
#main { margin-left: 450px; }
#info { float: left; width: 300px; }
#info td { padding: 0px 0px 4px 0px; }
#info div { margin-top: 20px; }
#name {
    font-variant: small-caps;
    font-size: 2.8em;
    margin-top: 70px;
    letter-spacing: 0.01em;
}
.announce {
    width: 190px;
    padding: 0px 0px 0px 7px;
    border: dashed 1px #ccc;
}
.more {
    width: 100%;
    font-weight: bold;
    text-align: right;
}

/* Project Entries */
.entry {
    clear: both;
    height: 80px;
    margin-bottom: 10px;
}
.entry img {
    float: left;
    margin: 3px 8px 6px 1px;
    padding: 0px;
    border-radius: 4px;
}
.entry a:hover img {
    box-shadow: 2px 2px 18px #53f;
}
.entry .links {
    margin: 5px 0px 0px 0px;
}
.entry .main {
    padding-top: 1px;
}

/* Curriculum Vitae */
#vita h6,
#vita .body {
    margin-left: 135px;
}
#vita .margin {
    float: left;
    width: 115px;
    margin-right: 15px;
    padding-left: 5px;
    text-align: right;
}
.right {
    float: right;
}

/* Contact */
#contact .body {
    width: 495px;
}
#contact .body a {
    font-weight: bold;
}
